@font-face {
    font-family: 'Norse-Bold';
    src: url(../font/Norse-Bold.otf);
    font-weight: bold;
}

.logoBg {
    background-color: rgb(0 0 0 / 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.odinSlang {
    font-family: 'Norse-Bold';
    height: 100%;
}