* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: rgb(245, 245, 245);
    --form-bg-container: white;
    --form-box-shadow: 2px 18px 18px -15px rgba(0,0,0,0.25);
    --form-font-color: #3a3a3a;
    --legend-font-color: #2c2c2c;
    --logo-bg: rgb(0 0 0 / 0.5);
    --input-border: #ccc; 
    --input-bg-color: rgb(253, 252, 252);
    --button-bg-color: #718d74;
    --font-Name: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: 'Norse';
    src: url(../font/Norse-Bold.otf);
    font-weight: bold;
}

body {
    background-color:var(--main-bg-color);
}

.formFlex, .formInfo, .registration {
    padding-left: 4%;
}

.projectContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    overflow-x: hidden; 

}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
}

.formInfo {
    font-family:var(--font-Name);
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    width: 70%;
    height: 15vh;
}

.hero-image {
    width: 30%; 
}
.right-sidebar {
    width: 70%; 
}


.formContainer {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--form-bg-container);
    padding-bottom: 40px;
    box-shadow: var(--form-box-shadow);
}

legend {
    font-family: var(--font-Name);
    font-weight: bold;
    font-size: 1.50rem;
    margin-bottom: 2%;
    color: var(--legend-font-color);
}

.formFlex {
    width: 70%;
    height: 30vh;
    margin-top: 3%;
    margin-bottom: -5%;
}

form {
    display: flex;
    gap: 4rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--form-font-color);
    font-family: Arial, Helvetica, sans-serif;
}

.reference {
    color: var(--form-bg-container);
    width: 30vw;
    margin-top: auto;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: var(--form-bg-container);
}

.hero-image {
    width: 30vw;
    height: 100vh;
    background-image: url("../images/sidebarimage.avif");
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 100vh;
}


.logoBg {
    background-color: var(--logo-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38%;
    height: 15vh;
    width: 30vw;
}

.logo {
    height: 70%;
}

.odinSlang {
    font-family: 'Norse';
    font-size: 4rem;
    color: var(--form-bg-container);
}

input {
    width: 100%; 
    height: 19%;
    margin-bottom: 1rem; 
    border: 1px solid var(--input-border);
    background-color: var(--input-bg-color);
    border-radius: 4px;
    font-size: 1.2rem;
    transition: all 0.3s ease; 
}

input[type="text"]
{
    font-size: 0.9rem;
    padding-left: 5px;
}

button {
    background-color: var(--button-bg-color);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 12px 35px;
    text-align: center;
    color: var(--form-bg-container);
    font-weight: bold;
    box-shadow: var(--form-box-shadow);
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 20px;
}

.login_link {
    color: var(--button-bg-color);
    font-weight: bold;
}

.registration {
    font-family: var(--font-Name);
    color: var(--legend-font-color);
}